body {
        background-image: url("../imagem/mapa.jpg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        margin: 50px;
    }

.topoShanks {
        width: 70%;
        min-height: 100vh;
        margin: 0 auto;
        background-color: rgba(255, 255, 255, 0.85);
        padding: 30px;
        text-align: center;
    }

.topoShanks h1 {
    font-family:Montserrat;
    font-size: 85px;
    
}

.topoShanks h2 {
    font-family:system-ui, sans-serif ;
}